.desktopNav .dropdown{
/* display: none; */
list-style: none;
z-index: 9999;
position: absolute;
right: 0;
left: auto;
}

.desktopNav .MenuItems {
    position: relative;    
}


.desktopNav .dropdown.show {
    display: block;
  }

.MenuItems button{
    border: none;
    font-size: inherit;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
}