.button {
    background: none;
    display: flex;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    border: 1px solid #505050;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;
  }
  
  .button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 2px solid #505050;
  }
  
  .arrow {
    height: 20px;
  }
  
  
  .wrapper:hover {
    cursor: pointer;
  }
  .link {
    text-decoration: none;
    color: #505050;
  }
  
  @media only screen and (max-width: 600px) {
    .arrow {
      height: 10px
    }
  }