#root {
  text-align: center;
  background-color: #faefe8;
}


#background-image {
  width: 100%;
}

#section-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 65vh;
  padding: 8vh;
}

#section-2 {
  background-color: #d5dfe1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 65vh;
  padding: 8vh;
}

#section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 65vh;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../public//images/greeceback4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.378);
  opacity: 0.1;
  pointer-events: none;
}
.hero-contents {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.section-1-image {
  width: 30vw;
}

.section-2-image {
  width: 40vw;
}

.section-3-image {
  height: 30vh;
}

input[type="text"] {
  border: 1px solid;
  height: 2rem;
  width: 100%;
  background-color: #d5dfe1;
  color: #505050;
  border-radius: 4px;
}

input[type="email"] {
  border: 1px solid;
  height: 2rem;
  width: 100%;
  background-color: #d5dfe1;
  color: #505050;
  border-radius: 4px;
}

input[type="checkbox"] {
  border: 1px solid;
  height: 1rem;
  width: 20%;
  accent-color: #d5dfe1;
  color: #505050;
  border-radius: 4px;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media only screen and (max-width: 600px) {
  input[type="text"] {
    border: 1px solid;
    height: 2rem;
    width: 100%;
    background-color: #d5dfe1;
    color: #505050;
    border-radius: 4px;
    padding-block: 0;
    padding-inline: 0;
  
  }
  input[type="email"] {
    border: 1px solid;
    height: 2rem;
    width: 100%;
    background-color: #d5dfe1;
    color: #505050;
    border-radius: 4px;
    padding-block: 0;
    padding-inline: 0;
  
  }

  .hero-contents {
    width:100%
  }
}


