.contactForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
/* input[type="text"] {
  border: 1px solid;
  height: 8rem;
  background-color: #d5dfe1;
  color: #505050;
  border-radius: 4px;
}
input[type="email"] {
  border: 1px solid;
  height: 8rem;
  background-color: #d5dfe1;
  color: #505050;
  border-radius: 4px;
} */


.contact {
  height: 100vh;
}
#contactMain {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#contactMain p {
  font-size: 20px;
}
.contactSection {
  font-size: 20px;
  text-decoration: underline 0.5px solid #505050;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  letter-spacing: 0.08em;
  gap: 2vh;
}
