.contactForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
input[type="text"] {
  border: 1px solid;
  height: 8rem;
  width: 200%;
  background-color: #d5dfe1;
  color: #505050;
}

.contact {
  height: 100vh;
}
#contactMain {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#contactMain p {
  font-size: 20px;
}
.contactSection {
  font-size: 18px;
  text-decoration: underline 0.5px solid #505050;
}
