.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  /* font-size: 1.25rem; */
  align-items: center;
  justify-content: space-around;
  color: #505050;
  background-color: #d5dfe1;
  height: 10vh;
  border-top: 1px solid black;
}

.aklogo {
  height: 5rem;
  width: auto;
}
.flexlist {
  display: flex;
  align-items: center;
  gap: 2vh;
}
