.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white !important;
  font-size: 20px;
}

.header button {
  color: unset;
}
.header a {
  color: unset;
}

.homepageSection1 {
  padding: 5vh;
}

.homepageSection1 p {
  /* width: 50%; */
}

.homepageSection1 img {
  max-width: 50vw;
}

.homepageSection2 {
  padding: 5vh;
  background-color: #d9d9d9;
}

.section2Wrapper {
  display: flex;
}
.section2SubWrapper {
  display: flex;
  flex-direction: column;
  flex: 30% 1 1;
  align-items: flex-start;
  text-align: start;
}
.section2SubWrapper img {
  max-width: 90%;
}
.section2SubWrapperWrapper {
  display: flex;
}

.homepageSection3 {
  padding: 5vh;
}

.section3SubWrapper {
  text-align: start;
  display: flex;
}

.homepageSection3 img {
  width: 50vw;
}

.homepageSection3 p {
  font-size: 22px;
}

.homepageSection1,
.homepageSection2,
.homepageSection3 {
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
}

@media only screen and (max-width: 600px) {
  .header {
    height: 20vh;
  }
}
.paragraphRight {
  text-align: end;
  line-height: 4rem;
  letter-spacing: 2px;
  text-align: right;
  max-width: 800px;
}

.paragraphLeft {
  text-align: start;
  line-height: 4rem;
  letter-spacing: 2px;
}

.arrowLink {
  font-size: 32px;
  text-decoration: none;
  font-weight: 300;
}
.arrowLink::after {
  content: "↗";
  margin-left: 20px;
  font-size: 25px;
  transition: 0.3s;
  display: inline-block;
}
.arrowLink:hover:after {
  transform: translateX(10px) translateY(-5px);
}

.links {
  display: flex;
  flex-direction: column;
}
.links a {
  margin: 1rem 0;
}
