
   .header-content {
    border: 1px solid black;
    justify-content: space-between;
   }
   .header-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
   }
   .modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .modalContent {
    border: 1px solid #fff;
    /* height: 80vh;
    width: 90vh; */
    background-color: #fff;
    border-radius: 15px;
   }
   .exitIcon {
    cursor: pointer;
    font-size: 20px;
   }
   .modalTitle {
    color: #6821c3;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
   }
   .modalImage img {
      height: 40vh;
    width: auto;
   }
   .modalText {
    text-align: justify;
   }
   .modalButton button {
    border: 1px solid #6821c3;
    padding: 6px;
    width: 8rem;
    background-color: #6821c3;
    color: white;
    border-radius: 7px;
   }

   .modalMainContents {
      display: flex;
      flex-direction: column;
      height: 90vh;
      width: 90vh;
   }