.overlay {
  border: 0.5px solid rgba(217, 217, 217, 0.686);
  background-color: rgba(217, 217, 217, 0.555);
  width: 70vw;
  color: #434242;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.15em;
}

@media only screen and (max-width: 600px) {
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  width: 100%;
  }
}