
.section1 {
  background-color: #faefe8;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.section1 img {
  max-width: 40%;
  height: auto;
}
.section2 {
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: #d9d9d9;
}
.img {
  max-width: 50%;
  height: auto;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
  background-color: #d5dfe1;
  padding-bottom: 8vh;
  border-top: solid #505050 1px;
  border-bottom: solid #505050 1px;
}

.section4 img {
  max-width: 40%;
  height: auto;
}
.section1Container {
  display: flex;
  /* padding: 30px; */
}
.section2Container {
  display: flex;
  /* padding: 30px; */
}
.section3Container {
  display: flex;
  padding: 30px;
}
.section4Container {
  display: flex;
  padding: 30px;
}
.section5Container {
  display: flex;
  padding: 30px;
}
.section7Container {
  display: flex;
  padding: 30px;
}
.section6Container {
  display: flex;
  padding: 30px;
}
.paragraphWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}

.paragraphWrapperRight {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

.paragraphWrapperCentre {
  display: flex;
  margin-top: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.paragraphWrapperCentre p {
  flex: 33% 1 1;
}

.subSection {
  padding: 30px;
}

.WhatWeDoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.TheIndigoAdvantageSection {
  display: flex;
  flex-direction: row;
  gap: 10vh;
  justify-content: space-evenly;
  align-items: center;
}

.leftArrowSvg {
  height: 50px;
}
